.main{
    background-color: white;
    
}
ul{
    display: flex;
    flex-direction: row;
    justify-self: end;
    font-size: 18px;
    gap: 30px;
    list-style-type: none;
    text-decoration: none;
    position: sticky;
    padding: 20px;
    
}
li a{
    display: block;
    gap: 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 3vh;
    
}
.head{
    background-color: aqua;
    position: sticky;
    top: 0;
    width: 100%;
}



.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: 4px solid purple;
    background-color:  plum;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
    padding: 60px 20px;
    width: 70%;
    justify-self: center;
}
.image{
    justify-self: end;
    padding-right: 20px;
}
#ab{
    height: 200px;
    width: 250px;
    /* border-radius: 50%; */
    
    outline: 10px solid white;
    /* margin-left: 20%; */
}
.intro{
    /* height: 50px; */
    display: grid;
    justify-self: left;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(3, 1fr);  
}
button{
    color: white;
    background-color: green;
    padding: 10px 15px;
    border: 1px solid black;
    font-size: medium;
    border-radius: 7px;
}
.about{
    text-align: center;
    justify-items: center;
    padding: 80px;
}
.tag{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content:center;
    width: 60%;
      
}
.skill{
    background-color: blueviolet;
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px black ;
    font-size: 15px;
}
.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    width: 60%;
    gap: 50px;
    margin: 30px 20px 20px 20px;
}
.proname{
    display: grid;
    grid-template-columns: 200px 200px;
    background-color: purple;
    color: white;
    box-shadow: 10px 10px 10px gray;
    border-radius: 20px;
    padding-bottom: 10px;
    border: 2px solid black;
    align-items: center;
    justify-items: center;
    width: 90%;
   
}
.pdsc{
    align-self: left;
}

.fixi{
    border-right: 2px solid black;
    padding-right: 10px;
}
#a{
    height: 100px !important;
    width: 100px !important;
    
    
}

legend{
    text-align: center;

}

.center{
    display: flex;
    flex-direction: row;
    justify-self: center;
    padding: 50px 0px;
   
}
.footer{
    height: 20vh;
    border: 2px solid black;
    background-color: palevioletred;
}
.f{
    justify-self: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
form{
    background-color: antiquewhite;
}
input[type="submit"]{
    background-color: greenyellow;
    height: 30px;
    border-radius: 5px;
}
button:hover{
    background-color: white;
    color: black;
}


@media (max-width:700px){
    ul{
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    .hero{
        display: grid;
        grid-template-columns: 1fr;
    }
    .tag{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    
    }
    .skill{
        width: 40px;
        justify-content: center;
    }
    .project{
        display: grid;
        grid-template-columns: 1fr;
    }
    .proname{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
    }
    .fixi{
        border: none;
    }
    .pdsc{
        text-align: center;
    }
    .image{
        justify-self: center;
    }
    .intro{
        justify-self: center;
    }
    .head{
        position: static;
    }
        
}