/* .form{
    justify-self: center;
    background-color: beige;

}
.diva{
    display: grid;
    grid-template-columns: 200px 1fr;
}
@media (max-width:500px){
    .diva{
        grid-template-columns: 1fr;
    }
} */


form{
    max-width: 800px;
    /* justify-self: center; */
    /* padding: 1px; */
    margin: 20px;
    border: 3px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color:lightcyan;
    font-weight: bold;
}
form .diva{
    padding: 10px;
}
.subdiv{
    padding: 5px;
}
input[type="text"]{
    border-radius: 5px;
    border: 1px solid rgb(215, 28, 28);
    
}
input:focus{
    border:  2px solid yellow;
    background-color: lightgray;
}
input:hover{
    background-color: yellow;
}

input[type="submit"]{
    padding: 15px 20px;
    margin: 10px 10px;
    color:white;
    font-size: 16px;
    background-color: blueviolet;
    border-color: white;
    border-radius: 6px;
    box-shadow: 2px 2px gray ;
    
}
input[type="reset"]{
    padding: 15px 20px;
    margin: 10px;
    color:white;
    font-size: 16px;
    background-color: purple;
    border-color: white;
    border-radius: 6px;
    box-shadow: 2px 2px gray ;
    
}
input[type="submit"]:hover{
    background-color: darkorchid;
    scale: 1.1 ;
}
input[type="reset"]:hover{
    background-color: green;
    scale: 1.1 ;
}
.button{
    align-self: center;
}
.diva{
    border-bottom: 2px solid black;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 150px 1fr; 
}
.three{
    grid-template-columns: 1fr 1fr 1fr;

}
.two{
    grid-template-columns: 1fr 1fr;

}

@media (max-width:700px){
.button{
    align-self: center;
    /* width: 100%;
    display:grid; 
    grid-column: span 1; */
    font-size: 12px;
     }

}
@media (max-width:700px){
.diva{
    grid-template-columns: 1fr;
    width:100%;
    /* padding: 10px ; */
    /* margin: 10px ; */
    
    }
form .diva{
    margin-right: 20%;
    /* padding-right: 20%; */
    
}
input[type="text"]{
    width: 100%;
    
    }
input[type=email]{
    width: 100%;
}
input[type=date]{
    width: 100%;
}

}







